### Code ###
.vscode
.devcontainer
.idea/*
.DS_Store
#schema.graphql
#.graphqlconfig

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# Optional npm cache directory
.npm
